In [32]:
import mysql.connector as mysql
import pandas as pd
import csv

In [44]:
csv_file_path = '/Users/ijeonghun/Downloads/restaurant_tag_test100.csv'
df=pd.read_csv(csv_file_path)
df.head(10)

   Unnamed: 0                 매장명        tag  인원
0           0  강남대로 378, 채선당 샤브보트   음식이 맛있어요  48
1           1  강남대로 378, 채선당 샤브보트   재료가 신선해요  32
2           2  강남대로 378, 채선당 샤브보트   혼밥하기 좋아요  26
3           3  강남대로 378, 채선당 샤브보트       친절해요  18
4           4  강남대로 378, 채선당 샤브보트   가성비가 좋아요  10
5           5      삼성로96길 11, 세계관   음식이 맛있어요  51
6           6      삼성로96길 11, 세계관     양이 많아요  30
7           7      삼성로96길 11, 세계관  인테리어가 멋져요  24
8           8      삼성로96길 11, 세계관   재료가 신선해요  23
9           9      삼성로96길 11, 세계관       친절해요  19

중복 제거 해야됑..

In [43]:
# MySQL 연결 설정
# conn = mysql.connect(
#     host="lunch-lab-db.c7gaq8m06dlk.ap-southeast-2.rds.amazonaws.com",
#     user="admin",
#     password="lunchlab0219",
#     database="test"
# )
conn=mysql.connect(
    host="localhost",
    user="root",
    password='1234',
    database="mytest",
    port=3306
)

cursor = conn.cursor()

# CSV 파일 경로
csv_file_path = '/Users/ijeonghun/Downloads/restaurant_tag_test100.csv'
df=pd.read_csv(csv_file_path)

# 데이터 베이스 삽입
for x in df.index:
    java_=dict(df.loc[x])
    
    # 매장명 데이터 삽입
    restaurant_insert_query='''
    insert into restaurant_test (name)
    values ("%s")
    '''
    cursor.execute(restaurant_insert_query%(java_["매장명"]))

    #----------------#
    #foreign key를 위한 primary 키 추출
    conn.commit() # 트렌젝션 종료

    cursor.execute("select max(id) from restaurant_test;") # 가장 최근의 id값을 foreign key로 보낼것
    foreign_id=cursor.fetchone()[0]

    # tag_test 테이블에 데이터 삽입 -> 여기 구문 고치긴
    tag_insert_query='''
    insert into tag_test (tag,people_cnt,foreign_id)
    values ("%s",%d,%d)
    '''
    cursor.execute(tag_insert_query%(java_["tag"],java_["인원"],foreign_id))

#변경사항 커밋
conn.commit()

#연결종로
cursor.close()
conn.close()

In [20]:
df=dict(df.loc[0])["인원"]

In [26]:
tag_insert_query='''
    insert into tag_test (tag,people_cnt)
    values ("%s",%d)
    '''

print(tag_insert_query%(java_["tag"],java_["인원"]))

    insert into tag_test (tag,people_cnt)
    values ("음식이 맛있어요",48)